{% extends "template.html.twig" %}


{% block title %}
    Bienvenue {{ parent() }}
{% endblock %}


{% block content%}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('{{ asset('resources/images/wallpaper_2.jpg') }}'); height: 500px; background-position: bottom; background-size: cover">
                <div class="carousel-caption d-none d-md-block">
                    <h1 style="font-family: 'Amatic SC'; font-weight: bold; font-size: 80px">Où irez-vous en COCOVOIT <br/>aujourd'hui ?</h1><br><br>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('{{ asset('resources/images/wallpaper_3.jpg') }}'); height: 500px; background-position: bottom; background-size: cover">
                <div class="carousel-caption d-none d-md-block">
                    <h1 style="font-family: 'Amatic SC'; font-weight: bold; font-size: 80px">Pourquoi pas: <br/> l'autre bout du monde ?</h1><br><br>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: transparent">

        <div class="jumbotron text-center pt-0 text-light" style="background-color: transparent">
            <h1 style="font-family: 'Amatic SC'">Cocovoit en quelques chiffres</h1>
            <hr>
            <p class="font-weight-light" style="color: #ffdcaa;line-height: 50px">Créé le <span style="font-size: 40px">23 Mars 2019</span> et seulement <br> mis en ligne (v1) <span style="font-size: 40px">le 13 Avril 2019</span>,<br/>
                Cocovoit compte aujourd'hui <span style="font-size: 40px"> {{ nbr_user }}</span> utilisateur et <span style="font-size: 40px">{{ nbr_trip }}</span> voyages !<br/>
                Merci à vous qui testez ce projet (•‿•)</p>
        </div>
    </div>

    <style>
        body
        {
            background-image: url('{{ asset('/resources/images/repeat.jpg') }}');
            background-size: 200px;
        }
    </style>
{% endblock %}