{% extends 'backend/template.html.twig' %}

{% block title "Mes Réservations" %}

{% block page_title %}Bonjour {{ user.getCompletName() }}{% endblock %}

{% block section %}



            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Réservations</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mes Trajets</a>
            </div>
        </nav>
        <div class="tab-content mb-5" id="nav-tabContent">
            <div class="tab-pane fade  show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                {% for reservation in reservations %}
                    <div class="card border-secondary mt-4" style="">
                        <div class="card-header d-flex">

                            <div class="align-self-center h5 m-0" style="min-width: 160px">
                            {{ reservation.getTrip().getDeparturePlace() }}
                            &nbsp;<i class="fas fa-arrow-circle-right"></i>&nbsp;
                            {{ reservation.getTrip().getArrivalPlace() }}
                            </div>
                            
                            <div class="align-self-center m-0 ml-5 h5">{{ reservation.getTrip().getDepartureSchedule() | date("d/m/Y H:i", "America/New_York")}}</div>

                            <div class="ml-auto">
                                <a href="{{ path('trip.view', {'id': reservation.getTrip().getId()}) }}" class="btn btn-secondary">Détails</a>
                                <a href="{{path('reservation.showticket', {'pub_key': reservation.getTicketPath()}) }}" class="btn btn-primary">Voir le ticket</a>
                                |
                                <form method="post" onsubmit="return confirm('Confirmez-vous l\'annulation ?')" action="{{ path('trip.reservation', {'id': reservation.getTrip().getId()}) }}" style="display: inline-block">
                                    <button class="btn btn-warning">Annuler la reservation</button>
                                </form>

                            </div>


                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Reservation effectuée le {{ reservation.getReservationDate() | date("d/m/Y à H:i", "America/New_York")}}<br>
                                Conducteur: {{ reservation.getTrip().getConductor().getCompletName() }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center mt-4">
                    Vous n'avez effectué aucune réservation. <a href="{{ path('trip.list') }}" class="btn btn-link">Commencez par ici</a>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="d-flex justify-content-between mt-4">
                    <div class="align-self-center">La liste des trajets dont vous êtes le conducteur:</div>
                    <a href="{{ path('trip.add') }}" class="btn btn-primary">Créer un nouveau trajet</a>
                </div>
                {% for trip in trips %}
                    <div class="card border-secondary mt-4" style="">
                        <div class="card-header d-flex">


                            <div class="align-self-center h5 m-0" style="min-width: 160px">
                                {{ trip.getDeparturePlace() }}
                                &nbsp;<i class="fas fa-arrow-circle-right"></i>&nbsp;
                                {{ trip.getArrivalPlace() }}
                            </div>

                            <div class="align-self-center m-0 ml-5 h5">{{ trip.getDepartureSchedule() | date("d/m/Y H:i", "America/New_York")}}</div>

                            <div class="ml-auto">
                                <a href="{{ path('trip.view', {'id': trip.getId()}) }}" class="btn btn-primary">Voir</a>
                                <a href="{{ path('trip.edit', {'id': trip.getId()}) }}" class="btn btn-secondary">Modifier</a>
                                |
                                <form method="post" onsubmit="return confirm('Confirmez-vous la suppression ?')" action="{{ path('trip.delete', {'id': trip.getId()}) }}" style="display: inline-block">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>


                        </div>
                        <div class="card-body" id="accordion{{ trip.getId() }}">

                            {% set trip_reservations = trip.getReservations() %}

                            <div class="d-flex justify-content-start" id="headingOne{{ trip.getId() }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseOne{{ trip.getId() }}" aria-expanded="true" aria-controls="collapseOne">
                                        Réservations <span class="badge badge-light"> {{ trip_reservations | length }}</span>
                                    </button>
                                </h5>
                                <div class="align-self-center ml-5"><span class="font-weight-light">Nombre de siège(s):</span> {{ trip.getNbrPlaces() }}</div>
                                <div class="align-self-center ml-5"><span class="font-weight-light">Nombre de place restante(s):</span> {{ trip.remainingPlaces() }}</div>
                            </div>

                            <div id="collapseOne{{ trip.getId() }}" class="collapse mt-3" aria-labelledby="headingOne" data-parent="#accordion{{ trip.getId() }}">

                                {% if trip_reservations | length > 0%}
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Date de reservation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for trip_reservation in trip_reservations %}
                                            <tr>
                                                <th scope="row">{{ trip_reservation.getId() }}</th>
                                                <td>{{ trip_reservation.getUser().getFirstname() }}</td>
                                                <td>{{ trip_reservation.getUser().getLastname() }}</td>
                                                <td>{{ trip_reservation.getReservationDate | date("d/m/Y H:i", "America/New_York")}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    Aucune réservation pour le moment...
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center mt-4">
                        Vous n'avez pas crée de trajet, utilisez le bouton ci-dessus pour commencer ;)</a>
                    </div>
                {% endfor %}



            </div>
        </div>
{% endblock %}