{% extends "frontend/template.html.twig" %}


{% block title %}
    Recherche {{ parent() }}
{% endblock %}

{%  block page_title %}
    Recherche &nbsp;<span class="badge badge-light">{{ trips | length }}</span>
{% endblock %}

{% block before_section %}
    <div class="card mb-4">
        <div class="card-body">
            {{ form_start(form, {'attr':{class:'form-inline m-0'}}) }}
            {{ form_row(form.departure_place, {'label': ' ','attr': {placeholder: 'Ville de départ', class:'mr-3'}}) }}
            {{ form_row(form.arrival_place, {'label': ' ','attr': {placeholder: 'Ville d\'arrivée', class:'mr-3'}}) }}

            {{ form_row(form.price, {'label': ' ','attr': {placeholder: 'Price', class:'mr-3'}}) }}
            <span style="display: none">
            {{ form_row(form.duration, {'label': ' ','attr': {placeholder: 'Price', class:'hidden-row'}}) }}
            {{ form_row(form.nbr_places, {'label': ' ','attr': {placeholder: 'Prix', class:'hidden-row'}}) }}
                {{ form_row(form.departure_schedule, {'label': ' ','attr': {placeholder: 'Date de départ', class:'mr-3'}}) }}</span>

            <div class="row-fluid">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search ml-4 mr-4"></i></button>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}


    {% block section%}
        {% include "frontend/_list_the_trip.html.twig" %}
    {% endblock %}
