{% extends "frontend/template.html.twig" %}


{% block title %}
    Trajet {{ parent() }}
{% endblock %}

{%  block page_title %}
    {{ trip.getDeparturePlace() }} &nbsp;<i class="fas fa-arrow-circle-right"></i>&nbsp; {{ trip.getArrivalPlace() }}
{% endblock %}

{% block section%}
    Départ le {{ trip.getDepartureSchedule() | date("d/m/Y à H:i") }}<br/>
    Durée : {{ trip.getDuration() | date("H:i") }}
    {% if hasReserved %}
        <hr>
        <h4>Ma Reservation</h4>
        Vous avez reservé ce trajet le {{ reservation.getReservationDate() | date("d/m/Y à H:i") }}<br>
        <a href="{{ path('reservation.showticket', {'pub_key': reservation.getTicketPath()}) }}" class="btn btn-primary mt-2">Voir mon ticket</a>
        <a href="{{ path('trip.reservation', {'id': trip.getId()}) }}" class="btn btn-warning ml-2 mt-2">Annuler ma réservation</a>
    {% endif %}
    <hr>
    <h4>À propos du conducteur</h4>
    Nom : <a href="{{ path('user.public_page', {'id' : trip.getConductor().getId()}) }}">{{ trip.getConductor().getCompletName() }}</a>
    <br><br/>

    {% include "frontend/_list_user_preferences.html.twig" %}

    <!-- Modal -->
    {% if app.user and not isConductor%}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">

                        {% if hasReserved %}
                            Annuler la réservation
                        {% elseif trip.remainingPlaces() > 0 %}
                            Confirmer la réservation
                        {% endif %}

                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if hasReserved %}
                        Confirmez-vous l'annulation de votre réservation ?
                    {% elseif trip.remainingPlaces() > 0 %}
                    Confirmez vous la commande de votre place ?<br/>
                    <table class="table table-striped mt-4">
                        <tbody>
                        <tr>
                            <th>Tarif place</th>
                            <td>+{{ trip.getPrice() }} $</td>
                        </tr>
                        <tr>
                            <th>Frais remboursés</th>
                            <td>-{{ trip.getPrice() }} $</td>
                        </tr>
                        <tr>
                            <th scope="row">TOTAL</th>
                            <th scope="row">0 $</th>
                        </tr>
                        </tbody>

                    </table>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>

                    {% if hasReserved %}
                        <a href="{{ path('trip.reservation', {'id': trip.getId()})}}"class="btn btn-danger">Annuler</a>
                    {% elseif trip.remainingPlaces() > 0 %}
                        <a href="{{ path('trip.reservation', {'id': trip.getId()})}}"class="btn btn-primary">Confirmer (0$)</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock %}

{% block right_section %}
    <div style="font-size: 60px">{{ trip.getPrice() }}<span style="font-size: 15px; display: inline-grid">$<br/>la place</span></div>
    <hr>
    {% if isConductor %}
        Voici comment votre page apparait aux yeux des autres utilisateurs<br/>
        <a href="{{ path('trip.edit', {'id': trip.getId()}) }}" class="btn btn-primary mt-3">Modifier ce trajet</a>
    {% elseif hasReserved %}
        Vous avez déjà reservé ce trajet.<br/>
        <button type="button" class="btn btn-warning mt-3" data-toggle="modal" data-target="#Modal">
            Annuler la réservation
        </button>
    {% elseif trip.remainingPlaces() <= 0 %}
        <p class="text-danger">Trajet Complet</p>
    {% elseif not app.user %}
        Vous devez être connecté pour réserver.<br/>
        <a href="{{ path("login") }}" class="btn btn-primary mt-3">Connexion</a>
    {% else %}
        Il reste des places :)
        <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#Modal">
            Réserver une place
        </button>
    {% endif %}
{% endblock %}