{% extends "base.html.twig" %}


{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <a class="navbar-brand" href="#">Cocovoit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% block navbar_left %}
                    <li class="nav-item
                            {% if app.request.attributes.get('_route') == "page.home" %}
                                active
                            {% endif %}
                                        ">
                        <a class="nav-link" href="{{ path('page.home') }}">Accueil</a>
                    </li>
                    <li class="nav-item
                            {% if app.request.attributes.get('_route') == "trip.list" %}
                                active
                            {% endif %}
                                        ">
                        <a class="nav-link" href="{{ path('trip.list') }}">Derniers trajets
                            {% if app.request.attributes.get('_route') == "trip.list" %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item
                            {% if app.request.attributes.get('_route') == "page.about" %}
                                active
                            {% endif %}
                                        ">
                        <a class="nav-link" href="{{ path('page.about') }}">À propos
                            {% if app.request.attributes.get('_route') == "page.about" %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endblock %}
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto"></ul>
            {% block navbar_right %}
                {% if app.user %}
                    <div>Bonjour {{ app.user.getFirstname() }}</div>
                    <a href="{{ path('user.dashboard') }}" class="btn btn-primary ml-3">Tableau de bord</a>
                    <a href="{{ path('logout') }}" class="btn btn-secondary ml-3">Déconnexion</a>
                {% else %}
                    <a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
                {% endif %}
            {% endblock %}
        </div>

    </nav>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 footer navbar-fixed-bottom">Epi<span style="color: #52a6ff">BanK®</span> 2019 | Pierre KELBERT | Hugo DI GUARDIA |
            <a href="{{ path('about') }}">About</a><hr class="ml-5 mr-5">
            <blockquote class="blockquote">
                <p class="mb-0 font-weight-light small" st>Si vous ne pouvez pas le faire bien, rendez-le beau.</p>

                <footer class="blockquote-footer small">Bill Gates <cite title="Source Title">Microsoft Funder</cite></footer>
            </blockquote>

        </div>
        <!-- Copyright -->


    </footer>
    <!-- Footer -->


{% endblock %}
