{% extends 'template.html.twig' %}

{% block title 'Connexion' %}

{% block navbar_right %}
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="jumbotron ml-auto mr-auto mt-5" style="width: 400px">
            <h1>Connexion</h1>
            <p>On se connait ?</p>
            {% include "backend/_flashmessage.html.twig" %}
            <hr class="my-4">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey | trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% if hey %}
                <div class="alert alert-danger">
                    {{ hey }}
                </div>
            {% endif %}
            <div class="container text-center">
                <form action="{{  path('login') }}" method="post">
                    <div class="form-group">
                        <input placeholder="Adresse E-Mail" type="text" id="username" name="_username" value="{{ last_username }}" class="form-control mb-4">
                        <input placeholder="Mot de passe" type="password" id="password" name="_password" class="form-control mb-4">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Connexion</button>
                    </div>
                </form>
            </div>
            <p>Pas de compte ? <a href="{{ path('user.registration') }}">Inscrivez-vous</a> !</p>
        </div>
        <a href="{{ path('trip.list') }}" class="btn btn-primary">Accueil du site</a>

    </div>

{% endblock %}

