{% extends"backend/template.html.twig" %}

{% block section %}

{{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.departure_place, {'label': 'Ville de départ','attr': {placeholder: 'ex: Chicoutimi'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.arrival_place, {'label': 'Ville d\'arrivée','attr': {placeholder: 'ex: N\'importe où'}}) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.nbr_places, {'label': 'Nombre de places','attr': {placeholder: 'ex: 3'}}) }}
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <label for="trip_price" class="required">Prix pour une place</label>
                    <div class="input-group">
                        {{ form_widget(form.price, {'attr':{placeholder: 'ex: 10'}}) }}
                        <div class="input-group-append">
                            <div class="input-group-text">$ CAD</div>
                        </div>
                    </div>
                </div>

                {# form_row(form.price, {'label': 'Prix pour une place','attr': {placeholder: 'ex: 6'}}) #}
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.departure_schedule, {'label': 'Heure et date de départ*','attr':{}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.duration, {'label': 'Durée','attr':{}}) }}
            </div>
        </div>

    </div>
    <br/>
    {{ form_widget(form) }}
        <a href="{{ path('user.dashboard') }}" class="btn btn-primary">Retour</a>
        <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}
    <hr>
    (*) Malgré de nombreuses tentatives, nous n'avons pas réussi à faire un "beau" calendrier pour le choix de la date de départ.<br/>
    Toutes nos excuses :)
    <hr>


{% endblock %}

{% block script %}
    <!--<script>
        $('.js-datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>-->
{% endblock %}